@model API.Model.Movie

@{
    ViewData["Title"] = "UpdateMovie";
}

<h1>In this page you can edit a movie</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" id="floatingInput" placeholder="the movie name" />
                <label asp-for="Title" for="floatingInput"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="RealeseDate" class="form-control" id="floatingInput" placeholder="the datetime" />
                <label asp-for="RealeseDate" for="floatingInput"></label>
                <span asp-validation-for="RealeseDate" class="text-danger"></span>
            </div>
             <div class="form-floating mb-2">
                <select asp-for="IdRefGenre" class="form-control" asp-items="ViewBag.IdRefGenre"></select>
                <label asp-for="IdRefGenre" for="floatingInput"></label>
                <span asp-validation-for="IdRefGenre" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <input type="submit" value="Save" class="btn btn-primary btnStyle" />
                <button class="btn btn-secondary" asp-action="GetAllMovies">Back to movies list</button>
            </div>
        </form>
    </div>
</div>

@{
    try
    {
        if (ViewBag.msg != null)
        {
            <label style="color:darkgreen">@ViewBag.msg</label>
        }
    }
    catch (Exception)
    {

    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
